* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $fontFamily;
    font-size: $fontSizeText;
    letter-spacing:$letterSpacing;
    min-height: 100vh;
    padding: 0;

    img {
        width: 20px;
    }
}

.body {
    display: grid;
    gap: 0;
    grid-template:
    "header"
    "main" 
    "footer"/
    100%
    ;

    .header {
        grid-area: header;
        background-color: $mainColorWhite;
    }

    .main {
        grid-area: main;
        background-color: $mainColorWhite;
        margin-top: 7.458vw;
        @include transition;

        @include tablets {
            margin-top: 8.458vw;
            @include transition;
        }

        @include phones {
            margin-top: 10.958vw;
            @include transition;
        }

        @include pocketPhones {
            margin-top: 14.158vw;
            @include transition;
        }
    }

    .footer {
        grid-area: footer;
        background-color: $mainColorBlack;
    }
}