* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", Verdana, Tahoma, sans-serif;
  font-size: 0.833vw;
  letter-spacing: 0.03rem;
  min-height: 100vh;
  padding: 0;
}
body img {
  width: 20px;
}

.body {
  display: grid;
  gap: 0;
  grid-template: "header" "main" "footer"/100%;
}
.body .header {
  grid-area: header;
  background-color: #ffffff;
}
.body .main {
  grid-area: main;
  background-color: #ffffff;
}
.body .footer {
  grid-area: footer;
  background-color: #000000;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eceff1;
  padding: 20px 40px 20px 40px;
  transition: all ease 0.2s;
}
@media screen and (max-width: 71rem) {
  .header {
    padding: 20px 24px 20px 40px;
    transition: all ease 0.2s;
  }
}

.logo__container {
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
}
.logo__container .logo__adidas {
  width: 3.125vw;
  cursor: pointer;
  transition: all ease 0.2s;
}
@media screen and (max-width: 102.938rem) {
  .logo__container .logo__adidas {
    transition: all ease 0.2s;
    width: 4.125vw;
  }
}
@media screen and (max-width: 40.813rem) {
  .logo__container {
    display: none;
  }
}

.product__categories {
  display: flex;
  align-items: center;
  position: relative;
  right: -7.396vw;
  transition: all ease 0.2s;
}
@media screen and (max-width: 102.938rem) {
  .product__categories {
    right: -2.396vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 71rem) {
  .product__categories {
    right: -1.396vw;
    transition: all ease 0.2s;
  }
}
.product__categories .categories {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  justify-content: center;
  padding: 0 10px;
  font-weight: 600;
  font-size: 0.729vw;
  transition: all ease 0.2s;
}
.product__categories .categories:hover {
  color: #000;
  border-bottom: 3px solid #000;
  transition: all ease;
}
@media screen and (max-width: 102.938rem) {
  .product__categories .categories {
    font-size: 1.03vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 71rem) {
  .product__categories .categories {
    font-size: 1.2vw;
    transition: all ease 0.2s;
  }
}
.product__categories .categories--alternative {
  font-weight: 400;
}
@media screen and (max-width: 40.813rem) {
  .product__categories {
    display: none;
  }
}

.user__home {
  display: flex;
  align-items: center;
}
.user__home .input__container {
  display: flex;
  align-items: center;
}
.user__home .input_search {
  border: none;
  border: solid thin #eceff1;
  padding: 0 35px 0 10px;
  background-color: #eceff1;
  height: 1.667vw;
  width: 11.979vw;
  max-width: 11.979vw;
  font-family: "Poppins", Verdana, Tahoma, sans-serif;
  transition: all ease 0.2s;
}
@media screen and (max-width: 102.938rem) {
  .user__home .input_search {
    height: 1.867vw;
    width: 12.179vw;
    max-width: 12.179vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 71rem) {
  .user__home .input_search {
    height: 2.667vw;
    width: 55.979vw;
    max-width: 15.979vw;
    transition: all ease 0.2s;
  }
}
.user__home .input__img {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  transform: translateX(1012%);
  width: 1.03vw;
  transition: all ease 0.2s;
}
@media screen and (max-width: 102.938rem) {
  .user__home .input__img {
    width: 1.2vw;
    transform: translateX(871%);
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 71rem) {
  .user__home .input__img {
    width: 1.2vw;
    transform: translateX(1136%);
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .user__home .input__img {
    width: 1.8vw;
    transform: translateX(725%);
    transition: all ease 0.2s;
    display: none;
  }
}
.user__home .user__home__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 2.5vw;
  cursor: pointer;
  transition: all ease 0.2s;
}
@media screen and (max-width: 102.938rem) {
  .user__home .user__home__icons {
    width: 2.8vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .user__home .user__home__icons {
    width: 3.8vw;
  }
}
@media screen and (max-width: 102.938rem) {
  .user__home .user__home__icons--alt {
    width: 3vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .user__home .user__home__icons--alt {
    width: 3.8vw;
  }
}

.user__img,
.favorites__img {
  width: 1.25vw;
  transition: all ease 0.2s;
}
@media screen and (max-width: 102.938rem) {
  .user__img,
  .favorites__img {
    width: 1.8vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .user__img,
  .favorites__img {
    width: 2.3vw;
    transition: all ease 0.2s;
  }
}

.cart__img,
.menu__img {
  width: 1.354vw;
  transition: all ease 0.2s;
}
@media screen and (max-width: 102.938rem) {
  .cart__img,
  .menu__img {
    width: 1.85vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .cart__img,
  .menu__img {
    width: 2.3vw;
    transition: all ease 0.2s;
  }
}

.main {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  position: relative;
}

.actual__page {
  display: flex;
  align-items: center;
  padding: 25px 2.125vw;
  transition: all ease 0.2s;
}
@media screen and (max-width: 40.813rem) {
  .actual__page {
    padding: 25px 4.125vw;
    transition: all ease 0.2s;
  }
}
.actual__page .actual__page__back__btn {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  padding: 0 10px 0 0;
  border: none;
  font-weight: 600;
  letter-spacing: 0.03rem;
  font-size: 0.833vw;
  text-decoration: underline;
  cursor: pointer;
  transition: all ease 0.2s;
}
.actual__page .actual__page__back__btn:hover {
  color: #ffffff;
  background-color: #000;
  text-decoration: none;
}
@media screen and (max-width: 102.938rem) {
  .actual__page .actual__page__back__btn {
    font-size: 1.033vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 71rem) {
  .actual__page .actual__page__back__btn {
    font-size: 1.233vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .actual__page .actual__page__back__btn {
    font-size: 1.633vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .actual__page .actual__page__back__btn {
    display: none;
  }
}
.actual__page .actual__page__back__btn .back__icon__img {
  width: 1.563vw;
  cursor: pointer;
  padding-right: 10px;
  transition: all ease 0.2s;
}
@media screen and (max-width: 102.938rem) {
  .actual__page .actual__page__back__btn .back__icon__img {
    width: 2.063vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 71rem) {
  .actual__page .actual__page__back__btn .back__icon__img {
    width: 2.363vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .actual__page .actual__page__back__btn .back__icon__img {
    width: 3vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .actual__page .actual__page__back__btn .back__icon__img {
    width: 3vw;
  }
}

.actual__page__item {
  display: flex;
  align-items: center;
  padding: 0 2px 0 5px;
}
.actual__page__item .actual__page__link {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-weight: 400;
  letter-spacing: 0.03rem;
  color: #000;
  transition: all ease 0.2s;
}
.actual__page__item .actual__page__link:hover {
  color: #ffffff;
  background-color: #000;
}
@media screen and (max-width: 102.938rem) {
  .actual__page__item .actual__page__link {
    font-size: 1.033vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 71rem) {
  .actual__page__item .actual__page__link {
    font-size: 1.233vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .actual__page__item .actual__page__link {
    font-size: 1.633vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .actual__page__item .actual__page__link {
    font-size: 2.433vw;
    transition: all ease 0.2s;
  }
}
.actual__page__item .separator {
  padding-right: 5px;
  transition: all ease 0.2s;
}
@media screen and (max-width: 102.938rem) {
  .actual__page__item .separator {
    font-size: 1.033vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 71rem) {
  .actual__page__item .separator {
    font-size: 1.233vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .actual__page__item .separator {
    font-size: 2.433vw;
    transition: all ease 0.2s;
  }
}
.actual__page__item .actual__page__link--alternative {
  text-decoration: none;
}
.actual__page__item .actual__page__link--alternative:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0);
}

.page__title {
  display: flex;
  align-items: center;
  padding: 0 2.188vw 25px 2.188vw;
  transition: all ease 0.2s;
}
@media screen and (max-width: 102.938rem) {
  .page__title {
    padding: 0 2.188vw 0px 2.188vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .page__title {
    padding: 0 4.125vw 0px 4.125vw;
  }
}
.page__title .page__title__text {
  font-size: 1.667vw;
  font-style: italic;
  font-weight: 500;
  transition: all ease 0.2s;
}
@media screen and (max-width: 102.938rem) {
  .page__title .page__title__text {
    font-size: 1.967vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 71rem) {
  .page__title .page__title__text {
    font-size: 2.267vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .page__title .page__title__text {
    font-size: 2.467vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .page__title .page__title__text {
    font-size: 3.567vw;
    transition: all ease 0.2s;
  }
}
.page__title .page__title__dot__separator {
  position: relative;
  transform: translateY(22%);
  display: inline-flex;
  align-items: center;
  width: 2.083vw;
  transition: all ease 0.2s;
}
@media screen and (max-width: 71rem) {
  .page__title .page__title__dot__separator {
    width: 2.383vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .page__title .page__title__dot__separator {
    width: 2.683vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .page__title .page__title__dot__separator {
    width: 4.125vw;
    transition: all ease 0.2s;
  }
}
.page__title .page__title__count__container {
  transform: translateY(31%);
  padding-left: 10px;
  color: #767677;
  font-size: 0.667vw;
  transition: all ease 0.2s;
}
@media screen and (max-width: 71rem) {
  .page__title .page__title__count__container {
    font-size: 0.967vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .page__title .page__title__count__container {
    font-size: 1.167vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .page__title .page__title__count__container {
    font-size: 1.667vw;
    transition: all ease 0.2s;
  }
}

.carrousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 2.125vw 25px 2.125vw;
  transition: all ease 0.2s;
}
@media screen and (max-width: 102.938rem) {
  .carrousel {
    margin: 10px 2.125vw 10px 2.125vw;
    transition: all ease 0.2s;
  }
}
.carrousel .carrousel__slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carrousel .carrousel__item__wrapper {
  margin: 0 14px 0 0;
}
.carrousel .carrousel__item__wrapper:hover {
  color: #000;
  border-bottom: 3px solid #000;
}
.carrousel .nav__item {
  display: flex;
  align-items: center;
  font-size: 0.75vw;
  color: #767677;
  text-decoration: none;
  transition: all ease 0.2s;
}
.carrousel .nav__item:hover {
  color: #000;
}
@media screen and (max-width: 102.938rem) {
  .carrousel .nav__item {
    font-size: 0.85vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 71rem) {
  .carrousel .nav__item {
    display: none;
  }
}
.carrousel .carrousel__filter__btn {
  display: flex;
  align-items: center;
  border: solid 1px #000;
  border-radius: 0;
  cursor: pointer;
  justify-content: flex-start;
  padding: 6px 9px;
  position: relative;
  text-align: left;
  width: auto;
  background-color: #ffffff;
  transition: all ease 0.2s;
}
.carrousel .carrousel__filter__btn:hover {
  color: #797b7b;
  transition: all ease 0s;
}
@media screen and (max-width: 102.938rem) {
  .carrousel .carrousel__filter__btn {
    padding: 3px 6px;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 71rem) {
  .carrousel .carrousel__filter__btn {
    position: absolute;
    right: 2.1vw;
    top: 9.1vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .carrousel .carrousel__filter__btn {
    right: 4.1vw;
    top: 12.1vw;
    transition: all ease 0.2s;
  }
}
.carrousel .carrousel__filter__P {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Poppins", Verdana, Tahoma, sans-serif;
  padding: 0 5px 0 0;
  font-weight: 600;
  font-size: 0.7vw;
  transition: all ease 0.2s;
}
@media screen and (max-width: 71rem) {
  .carrousel .carrousel__filter__P {
    font-size: 1vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .carrousel .carrousel__filter__P {
    font-size: 1.45vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .carrousel .carrousel__filter__P {
    display: none;
  }
}
.carrousel .carrousel__filter__img {
  width: 1.563vw;
  transition: all ease 0.2s;
}
@media screen and (max-width: 102.938rem) {
  .carrousel .carrousel__filter__img {
    width: 1.563vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 71rem) {
  .carrousel .carrousel__filter__img {
    width: 1.963vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .carrousel .carrousel__filter__img {
    width: 2.363vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .carrousel .carrousel__filter__img {
    width: 3.863vw;
    transition: all ease 0.2s;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  padding: 10px 2.125vw;
  transition: all ease 0.2s;
}
@media screen and (max-width: 57.5rem) {
  .products {
    grid-template-columns: repeat(3, 33.4%);
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .products {
    grid-template-columns: repeat(2, 50%);
    transition: all ease 0.2s;
    padding: 10px 4.125vw;
  }
}
@media screen and (max-width: 34.5rem) {
  .products {
    grid-template-columns: repeat(1, 100%);
    transition: all ease 0.2s;
  }
}
.products .products__item {
  width: 100%;
  padding: 1px;
  margin-left: 0;
}
.products .products__item:hover {
  border: 1px solid #000;
}
.products .products__item .product__display {
  position: relative;
}
.products .products__item .products__img {
  width: 100%;
}

.products__add__favorites__container {
  position: absolute;
}
.products__add__favorites__container .products__add__favorites__btn {
  position: absolute;
  right: -23.4vw;
  bottom: 22.6vw;
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  transition: all ease 0.2s;
}
@media screen and (max-width: 102.938rem) {
  .products__add__favorites__container .products__add__favorites__btn {
    right: -23vw;
    bottom: 22.1vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 71rem) {
  .products__add__favorites__container .products__add__favorites__btn {
    right: -23vw;
    bottom: 21.5vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .products__add__favorites__container .products__add__favorites__btn {
    right: -30vw;
    bottom: 28.5vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .products__add__favorites__container .products__add__favorites__btn {
    right: -43.5vw;
    bottom: 41.2vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 34.5rem) {
  .products__add__favorites__container .products__add__favorites__btn {
    right: -85.6vw;
    bottom: 81.2vw;
    transition: all ease 0.2s;
  }
}
.products__add__favorites__container .products__add__favorites__img {
  width: 15px;
}
@media screen and (max-width: 40.813rem) {
  .products__add__favorites__container .products__add__favorites__img {
    width: 17px;
  }
}
@media screen and (max-width: 34.5rem) {
  .products__add__favorites__container .products__add__favorites__img {
    width: 22px;
  }
}

.products__price {
  position: relative;
  text-decoration: none;
}
.products__price .products__price__container {
  position: absolute;
}
.products__price .products__price__text {
  color: #000;
  font-size: 0.833vw;
  position: relative;
  right: -0.3vw;
  bottom: 1.8vw;
  cursor: pointer;
  background-color: #ffffff;
  padding: 3px 5px;
  width: 3.333vw;
  transition: all ease 0.2s;
}
@media screen and (max-width: 102.938rem) {
  .products__price .products__price__text {
    bottom: 2vw;
    width: 3.633vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 71rem) {
  .products__price .products__price__text {
    font-size: 1vw;
    bottom: 2.3vw;
    width: 4.3vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .products__price .products__price__text {
    font-size: 1.3vw;
    bottom: 2.9vw;
    width: 5.5vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .products__price .products__price__text {
    font-size: 1.9vw;
    bottom: 3.7vw;
    width: 8.2vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 34.5rem) {
  .products__price .products__price__text {
    font-size: 3.5vw;
    bottom: 6.1vw;
    width: 14vw;
    transition: all ease 0.2s;
  }
}

.products__description__container {
  padding: 10px 10px 20px 10px;
  text-decoration: none;
  transition: all ease 0.2s;
}
@media screen and (max-width: 102.938rem) {
  .products__description__container {
    font-size: 0.963vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 71rem) {
  .products__description__container {
    font-size: 1.1vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .products__description__container {
    font-size: 1.4vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .products__description__container {
    font-size: 1.65vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 34.5rem) {
  .products__description__container {
    font-size: 2.95vw;
    transition: all ease 0.2s;
  }
}
.products__description__container .products__description__title {
  color: #000;
}
.products__description__container .products__description__category {
  color: #767677;
}
.products__description__container .products__description__label {
  color: #000;
  font-size: 0.667vw;
  transition: all ease 0.2s;
}
@media screen and (max-width: 102.938rem) {
  .products__description__container .products__description__label {
    font-size: 0.81vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 71rem) {
  .products__description__container .products__description__label {
    font-size: 0.95vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .products__description__container .products__description__label {
    font-size: 1.2vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .products__description__container .products__description__label {
    font-size: 1.6vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 34.5rem) {
  .products__description__container .products__description__label {
    font-size: 2.5vw;
    transition: all ease 0.2s;
  }
}

.products__description {
  text-decoration: none;
}

.pagination {
  padding: 10px 2.188vw 20px 2.188vw;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 40.813rem) {
  .pagination {
    padding: 10px 4.125vw 20px 4.125vw;
  }
}

.pagination__indicator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  font-size: 0.883vw;
  transition: all ease 0.2s;
}
@media screen and (max-width: 102.938rem) {
  .pagination__indicator {
    font-size: 1.05vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 71rem) {
  .pagination__indicator {
    font-size: 1.25vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .pagination__indicator {
    font-size: 1.65vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .pagination__indicator {
    font-size: 2.2vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 34.5rem) {
  .pagination__indicator {
    font-size: 3vw;
    transition: all ease 0.2s;
  }
}
.pagination__indicator .pagination__indicator__dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.pagination__indicator .pagination__indicator__dropdown .pagination__indicator__dropdown__text {
  padding-right: 10px;
}
.pagination__indicator .pagination__indicator__dropdown .pagination__indicator__dropdown__img {
  width: 0.729vw;
  cursor: pointer;
  transition: all ease 0.2s;
}
@media screen and (max-width: 102.938rem) {
  .pagination__indicator .pagination__indicator__dropdown .pagination__indicator__dropdown__img {
    width: 1vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 71rem) {
  .pagination__indicator .pagination__indicator__dropdown .pagination__indicator__dropdown__img {
    width: 1.1vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .pagination__indicator .pagination__indicator__dropdown .pagination__indicator__dropdown__img {
    width: 1.3vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .pagination__indicator .pagination__indicator__dropdown .pagination__indicator__dropdown__img {
    width: 1.7vw;
    transition: all ease 0.2s;
  }
}

.pagination__control__next {
  font-weight: 500;
  font-size: 0.833vw;
  color: #000;
  letter-spacing: 0.12rem;
}
.pagination__control__next:hover {
  color: #ffffff;
  background-color: #000;
  text-decoration: none;
  transition: all ease 0.3s;
}
@media screen and (max-width: 102.938rem) {
  .pagination__control__next {
    font-size: 1.05vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 71rem) {
  .pagination__control__next {
    font-size: 1.25vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .pagination__control__next {
    font-size: 1.45vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .pagination__control__next {
    font-size: 2vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 34.5rem) {
  .pagination__control__next {
    font-size: 2.3vw;
    transition: all ease 0.2s;
  }
}

.footer {
  border-top: 1px solid #767677;
  background-color: #282c31;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
}

.legal__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1010px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
.legal__menu .legal__menu__item {
  display: inline-block;
  width: auto;
  border-right: 1px solid #d3d7da;
  margin: 15px 0;
  padding: 0 15px;
}
.legal__menu .legal__menu__item .legal__menu__item__a {
  text-decoration: none;
  color: #d3d7da;
  font-size: 0.66rem;
  transition: all ease 0.2s;
}
.legal__menu .legal__menu__item .legal__menu__item__a:hover {
  color: #ffffff;
}
@media screen and (max-width: 71rem) {
  .legal__menu .legal__menu__item .legal__menu__item__a {
    font-size: 0.95vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .legal__menu .legal__menu__item .legal__menu__item__a {
    font-size: 1.1vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 34.5rem) {
  .legal__menu .legal__menu__item .legal__menu__item__a {
    font-size: 1.7vw;
    transition: all ease 0.2s;
  }
}

.colophon {
  max-width: 1010px;
  align-self: center;
  padding: 20px 15px 0px 15px;
}
.colophon .colophon__text {
  color: #d3d7da;
  text-align: center;
  font-size: 0.66rem;
  transition: all ease 0.2s;
}
@media screen and (max-width: 71rem) {
  .colophon .colophon__text {
    font-size: 0.95vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .colophon .colophon__text {
    font-size: 1.15vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 34.5rem) {
  .colophon .colophon__text {
    font-size: 1.7vw;
    transition: all ease 0.2s;
  }
}

.header__2 {
  transition: all ease 0.2s;
  display: none;
}
@media screen and (max-width: 57.5rem) {
  .header__2 {
    border-bottom: 2px solid #eceff1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 2.125vw;
    background-color: #ffffff;
    width: 100%;
    transition: all ease 0.2s;
  }
  .header__2 .header__2__left__icons,
  .header__2 .header__2__right__icons {
    display: inline-flex;
    gap: 2vw;
    transition: all ease 0.2s;
  }
  .header__2 .menu__img__2,
  .header__2 .favorites__img__2,
  .header__2 .user__img__2,
  .header__2 .cart__img__2,
  .header__2 .search__img__2 {
    width: 2.654vw;
    transition: all ease 0.2s;
  }
  .header__2 .logo__adidas__2 {
    width: 7.125vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .header__2 {
    transition: all ease 0.2s;
    padding: 9px 4.125vw;
  }
  .header__2 .header__2__left__icons,
  .header__2 .header__2__right__icons {
    display: inline-flex;
    gap: 3vw;
    transition: all ease 0.2s;
  }
  .header__2 .menu__img__2,
  .header__2 .favorites__img__2,
  .header__2 .user__img__2,
  .header__2 .cart__img__2,
  .header__2 .search__img__2 {
    width: 3.5vw;
    transition: all ease 0.2s;
  }
  .header__2 .logo__adidas__2 {
    width: 7.125vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 34.5rem) {
  .header__2 {
    transition: all ease 0.2s;
    padding: 9px 4.125vw;
  }
  .header__2 .header__2__left__icons,
  .header__2 .header__2__right__icons {
    display: inline-flex;
    gap: 3vw;
    transition: all ease 0.2s;
  }
  .header__2 .menu__img__2,
  .header__2 .favorites__img__2,
  .header__2 .user__img__2,
  .header__2 .cart__img__2,
  .header__2 .search__img__2 {
    width: 4.5vw;
    transition: all ease 0.2s;
  }
  .header__2 .logo__adidas__2 {
    width: 8.425vw;
    transition: all ease 0.2s;
  }
}

.cart {
  width: 26.042vw;
  background-color: #ffffff;
  padding: 1.302vw;
  box-sizing: border-box;
  height: 100%;
  position: fixed;
  right: 0%;
  top: 6.431vw;
  box-shadow: -19px 1px 22px -15px rgba(0, 0, 0, 0.3);
  transition: all 0.25s ease;
}
@media screen and (max-width: 102.938rem) {
  .cart {
    top: 7.631vw;
  }
}
@media screen and (max-width: 71rem) {
  .cart {
    width: 32.042vw;
    top: 9.731vw;
  }
}
@media screen and (max-width: 57.5rem) {
  .cart {
    width: 40.942vw;
    top: 13.631vw;
  }
}
@media screen and (max-width: 40.813rem) {
  .cart {
    width: 53.942vw;
    top: 13.631vw;
  }
}
@media screen and (max-width: 34.5rem) {
  .cart {
    width: 100%;
    padding: 4.202vw;
    top: 15.031vw;
  }
}
.cart .cart__title {
  width: 100%;
  text-align: center;
  font-size: 1.042vw;
  font-weight: 600;
  padding: 1.302vw 0;
  box-sizing: border-box;
  transition: all ease 0.2s;
}
@media screen and (max-width: 71rem) {
  .cart .cart__title {
    font-size: 1.442vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .cart .cart__title {
    font-size: 1.842vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .cart .cart__title {
    font-size: 2.442vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 34.5rem) {
  .cart .cart__title {
    font-size: 3.642vw;
    transition: all ease 0.2s;
  }
}

.cart__shopping {
  border-bottom: 0.156vw solid #eceff1;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  padding: 0.781vw 0.104vw;
  gap: 1.281vw;
}
@media screen and (max-width: 34.5rem) {
  .cart__shopping {
    border-bottom: 0.356vw solid #eceff1;
    padding: 2.681vw 0.104vw;
    transition: all ease 0.2s;
  }
}
.cart__shopping .cart__img {
  width: 5.521vw;
  transition: all ease 0.2s;
}
@media screen and (max-width: 71rem) {
  .cart__shopping .cart__img {
    width: 6.321vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .cart__shopping .cart__img {
    width: 8.021vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .cart__shopping .cart__img {
    width: 10.821vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 34.5rem) {
  .cart__shopping .cart__img {
    width: 17.521vw;
    padding: 0.781vw 0.104vw;
    transition: all ease 0.2s;
  }
}
.cart__shopping .cart__description {
  text-align: center;
  font-size: 0.663vw;
  width: 100%;
  padding: 0;
  transition: all ease 0.2s;
}
@media screen and (max-width: 71rem) {
  .cart__shopping .cart__description {
    font-size: 0.863vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .cart__shopping .cart__description {
    font-size: 1.22vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .cart__shopping .cart__description {
    font-size: 1.36vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 34.5rem) {
  .cart__shopping .cart__description {
    font-size: 2.36vw;
    transition: all ease 0.2s;
  }
}
.cart__shopping .cart__price {
  font-weight: 600;
  transition: all ease 0.2s;
}
@media screen and (max-width: 71rem) {
  .cart__shopping .cart__price {
    font-size: 1.033vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .cart__shopping .cart__price {
    font-size: 1.233vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .cart__shopping .cart__price {
    font-size: 1.533vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 34.5rem) {
  .cart__shopping .cart__price {
    font-size: 2.233vw;
    transition: all ease 0.2s;
  }
}
.cart__shopping .cart__delete {
  width: 1.676vw;
  cursor: pointer;
  padding: 0.313vw;
  transition: all ease 0.2s;
}
@media screen and (max-width: 71rem) {
  .cart__shopping .cart__delete {
    width: 1.976vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .cart__shopping .cart__delete {
    width: 2.376vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .cart__shopping .cart__delete {
    width: 2.686vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 40.813rem) {
  .cart__shopping .cart__delete {
    width: 3.786vw;
    transition: all ease 0.2s;
  }
}

.proceed__purchase {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.042vw 0;
}
.proceed__purchase .proceed__purchase__btn {
  width: 100%;
  cursor: pointer;
  padding: 0.421vw;
  font-family: "Poppins", Verdana, Tahoma, sans-serif;
  background-color: #000;
  color: #ffffff;
  font-size: 0.733vw;
  letter-spacing: 0.03rem;
  transition: all ease 0.2s;
}
@media screen and (max-width: 71rem) {
  .proceed__purchase .proceed__purchase__btn {
    font-size: 0.833vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .proceed__purchase .proceed__purchase__btn {
    font-size: 1.233vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .proceed__purchase .proceed__purchase__btn {
    font-size: 1.573vw;
    transition: all ease 0.2s;
  }
}
@media screen and (max-width: 57.5rem) {
  .proceed__purchase .proceed__purchase__btn {
    font-size: 2.673vw;
    transition: all ease 0.2s;
  }
}/*# sourceMappingURL=main.css.map */